# See README.md for instructions on setting up the .env file
#
RKS_PROJECT_ID=

RKS_SERVICE_ACCOUNT=

# You can use \n to separate the lines in your private key
RKS_PRIVATE_KEY=

RKS_BASE_URL=https://designer.mydatahelps.org